body
{
  width: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*DIAPORAMA*/
#diaporama
{
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/slideshow/slide1.jpg') center no-repeat;
  background-size: cover;
  -webkit-transition: background-image .25s ease-in-out;
     -moz-transition: background-image .25s ease-in-out;
      -ms-transition: background-image .25s ease-in-out;
       -o-transition: background-image .25s ease-in-out;
  display: flex;
  justify-content: center;
  min-width: 320px;
}

.controls
{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 2px 2px 5px #333;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity .25s ease-in;
     -moz-transition: opacity .25s ease-in;
      -ms-transition: opacity .25s ease-in;
       -o-transition: opacity .25s ease-in;
          transition: opacity .25s ease-in;
}

.play,
.stop
{
  position: absolute;
  bottom: 30px;
}

.play {
  margin-left: -50px;
  background: #050 url('../img/play.png') center no-repeat;
  background-size: contain;
}
.stop {
  margin-left: 50px;
  background: #500 url('../img/stop.png') center no-repeat;
  background-size: contain;
}

.next,
.previous
{
  position: absolute;
  bottom: 45%;
  -webkit-transition: bottom .25s ease-in-out;
     -moz-transition: bottom .25s ease-in-out;
      -ms-transition: bottom .25s ease-in-out;
       -o-transition: bottom .25s ease-in-out;
          transition: bottom .25s ease-in-out;
}

.previous {
  left: 20px;
  background: #030 url('../img/previous.png') center no-repeat;
  background-size: contain;
}
.next {
  right: 20px;
  background: #030 url('../img/next.png') center no-repeat;
  background-size: contain;
}

@media screen and (max-width:450px)
{
  .next,
  .previous
  {
    bottom: 75px;
  }
}